{% extends 'appBlog/blank/blankPadre.html' %}

{% load static %}

{% block contenidoblock %}
    <h2 style="color: white; font-size: x-large; font-style: oblique; font-family: 'Franklin Gothic Medium';">
        Edit the course:
    </h2>

    <form method="POST">{% csrf_token %}

        <table style="text-align: center;">

        {{ form.as_p}}

        </table>

        <input type="submit" value="Submit" style="color:blue">
        <p>
            <a href="{% url 'courseList' %}">Back</a>
        </p>

    </form>

{% endblock %}