{% extends 'appBlog/blank/blankPadre.html' %}

{% load static %}

{% block contenidoblock %}
    <h2 style="color: white; font-size: x-large; font-style: oblique; font-family: 'Franklin Gothic Medium';">
        Estas seguro de querer dar de baja a este estudiante?<br>En caso de no estar seguro por favor vuelve a la pagina anterior.
    </h2>
    <br>
    <form method="post">{% csrf_token %}

        <input style="background-color:orangered" type="submit" value="Deseo dar de baja a {{ estudiante.nombre }} {{ estudiante.apellido }}" style="color:rgb(255, 0, 0)">
        <br><br>
        <a href="{% url 'listaEstudiantes' %}" style="color:blue">Volver</a>

    </form>

{% endblock %}