<!doctype html>
<html lang="en">
  <head>
    {% load static %}
  	<title>JR | WARNING</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'appBlog_login/css/style.css' %}">

	</head>
	<body class="img js-fullheight">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">WARNING!</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
		      	<h3  style="color:white" class="mb-4 text-center">You are not authorized to be here! Please go back to home page!</h3>
		      <center><a style="background-color: rgb(255, 102, 0);" href="{% url 'index' %}" class="form-control btn btn-primary submit px-3">Home</a></center>
              <!-- <button style="background-color: rgb(255, 102, 0);" href="{% url 'home' %}" class="form-control btn btn-primary submit px-3">Home</button> -->
              </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'appBlog_login/js/jquery.min.js' %}"></script>
    <script src="{% static 'appBlog_login/js/popper.js' %}"></script>
    <script src="{% static 'appBlog_login/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'appBlog_login/js/main.js' %}"></script>

	</body>
</html>

